@charset "utf-8";

$HEADER_BG: #f1f1f1;
$HEADER_TOP: #666;
$HEADER_BOT: #e5e5e5;

$FOOTER_BG:  #f1f1f1;


body{
  //background:#F5F5F7 url(../assets/images/background.jpg) repeat-x top;

}

  //body {
//  color: #ff0000;
//}
// site header configuration
header.site-header{
    background: $HEADER_BG;
    border-top: 5px solid $HEADER_TOP;
    border-bottom: 1px solid $HEADER_BOT;
    // url(../assets/images/header-bg.jpg) 0 0 repeat-x;
    font-family: 'Architects Daughter','Helvetica Neue', Helvetica, Arial, serif;

    padding-top:30px;
    padding-bottom:30px;

    @include media-query($on-palm) {
    padding-top:    10px;
    padding-bottom: 10px;
    }

    .site-title{
      font-size:48px;

      @include media-query($on-palm) {
      font-size:36px;
      }
    }
}

  
footer{
  background: $FOOTER_BG;

  .footer-corp{
    color: #aaa;
    font-size:14px;
    display: block;
    text-align: center;
  }
}

//override
.page-content{
  padding: 0px;
}

.home-caption{
  background:pink;
  height:300px;
  background-image: url(../assets/images/seaview-800.jpg);
  background-size: cover;

  @include media-query($on-palm) {
  height: 200px;

  }

  .caption-blk{
    color: white;
    padding:20px;
  }
}

section#main-content{
  color: #666;

  h3{
    padding-top: 20px;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 18px;
    font-weight: bold;
    color: #474747;
    //text-indent: 10px;
  }
  p{
    font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    display: block;
    font-size: 15px;
    text-indent: 1em;
    
  }  

}


//#article post
article.post{
  padding-top:20px;
  color: #666;
  .post-header{
    .post-title{
      font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
      font-size:22px;
      color: #474747;
    }
    .post-content{
      font-family: 'Helvetica Neue', Helvetica, Arial, serif;
    }
  }
}
